* {
    box-sizing: border-box;
    background-color: black;
  
}

body {
    margin: 1vmin;
    font-family: Helvetica ;
    height: 100vh;
    display: grid;
  }

  header {
    font-size: 4vmin;
    color: rgb( 225 225 225);
    letter-spacing: 1vmin;
  }

  display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5fr 3fr;
  }

  payouts {
    display: grid;
    grid-template-columns: .8fr .8fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    font-size: 1.2vmin;

  }


  #slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    grid-column: 1 / 5;
  }

p, #slots > div, #bet, #reset, #d5, #message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sss {
    height: 5vmin;
    margin: 0;
  }

  .result {
    height: 42vmin;
  }

  user {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    grid-column: 1 / 5;
    background-color: burlywood;
  }

  user > * {
    background-color: burlywood;
    margin-left: 15px
  }

  #bet, #bet20, #bet50 {
    grid-column: 2;
    grid-row: 1 / 2;
    font-size: 5vmin;
    color: white;
    background-color: darkgrey;
    height: 7vmin;
    width: 25vmin;
    border-radius: 2vmin;
    margin: 5px;
    border: 0.6vmin solid grey;
    
  }
  #bet:hover, #bet20:hover, #bet50:hover {
    color: rgb(81, 81, 81);
    background-color: white;
    border-color: rgb(190, 190, 190);
  }

  #message {
    grid-column: 2;
    grid-row: 2 / 4;
    font-size: 7vmin;

  }

  #total {
    grid-column: 1;
    grid-row: 1;
    font-size: 4vmin;
  }

  #spent {
    grid-column: 1;
    grid-row: 2;
    font-size: 4vmin;
  }

  #made {
    grid-column: 1;
    grid-row: 3;
    font-size: 4vmin;
  }

  #reset {
    grid-column: 1;
    grid-row: 4;
    font-size: 1.2vmin;
    color: white;
    background-color: darkgrey;
    height: 1vmin;
    width: 7vmin;
    border-radius: 2vmin;
    padding: 1.5vmin;
    margin-bottom: 15px;
    border: 0.6vmin solid grey;
    
  }
  #reset:hover {
    color: rgb(81, 81, 81);
    background-color: white;
    border-color: rgb(190, 190, 190);
  }
  